.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}
.black {
  background-color: #946f51;
}
.white {
  background-color: #f0d9b5;
}

.selected {
  background-color: rgba(155, 199, 0, 0.41);
}
.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost {
  height: calc(40vh);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
